//Colors

$blueberry: #5982FF;
$eerie-black: #181F1C;
$main-red: #C13C5D;
$off-white: #a5afd7;
$white: #ffffff;
// Spacing

$s-size: 1.2rem;
$m-size: 1.6rem;
$m-l-size: 1.8rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 40rem;